<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Term Cloud</title>

    <!-- D3 word cloud -->
    <script th:src="@{/js/d3.layout.cloud.js}"></script>

    <!-- term cloud -->
    <script th:src="@{/js/term.cloud.js}"></script>
</head>
<body>
<!-- Page Content -->
<section layout:fragment="content">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Virginia Tech Shooting 2007</h1>
            <div id="term-cloud-canvas"></div>
        </div>
    </div>
</section>
</body>
</html>
