<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Term Cloud</title>

    <!-- Term cloud CSS -->
    <link href="css/term.cloud.css" rel="stylesheet"/>

    <!-- D3 word cloud -->
    <script src="js/d3.layout.cloud.js"></script>

    <!-- Term cloud js -->
    <script src="js/term.cloud.js"></script>
</head>
<body>
<!-- Page Content -->
<section layout:fragment="content">
    <div class="container-fluid" style="height: inherit">
        <div class="row" style="height: inherit">
            <div id="timeline" class="col-md-2">
                <label>Timeline</label>
            </div>
            <div id="term-cloud" class="col-md-8 text-center">
                <h2>Virginia Tech Shooting 2007</h2>
                <div id="term-cloud-canvas"></div>
            </div>
            <div id="filters" class="col-md-2">
                <label>Filters</label>
            </div>
        </div>
    </div>
</section>
</body>
</html>
