<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Visualization web app exploring global events throughout history"/>
    <meta name="author" content="dedocibula"/>

    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Global Events Viewer</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>

    <!-- jQuery UI CSS -->
    <link href="css/jquery-ui.min.css" rel="stylesheet"/>
    <link href="css/jquery-ui.structure.min.css" rel="stylesheet"/>
    <link href="css/jquery-ui.theme.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <style>
        html, body {
            height: 100%; margin: 0; padding: 0;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }

        #content {
            padding-top: 60px;
            height: 99%;
        }

        #description-panel {
            background: #fff;
            border: 1px solid #ddd;
        }
    </style>

    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>
    <!-- jQuery UI -->
    <script src="js/jquery-ui.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- D3 -->
    <script src="js/d3.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a data-toggle="collapse" class="navbar-brand" href="#description-panel">Global Events</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li>
                <a href="/">Term Cloud</a>
            </li>
            <li>
                <a href="#">Localization</a>
            </li>
            <li>
                <a href="#">Global Trends</a>
            </li>
        </ul>
    </div>
    <div id="description-panel" class="panel-collapse collapse">
        <div class="panel-body">
            GlobalEventsViewer helps in efficiently visualizing Web archive collection containing global event data over time.
            Collection is characterized by occurrence of dominant terms (term cloud), locations (localization) and trends (global trends).
        </div>
    </div>
</nav>

<!-- Main Content -->
<section id="content" layout:fragment="content">
    <p>Page content goes here.</p>
</section>

<!-- Footer -->
<footer>
</footer>

</body>
</html>