<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Global Trends</title>

    <!-- Trends CSS -->
    <link href="/css/trends.css" rel="stylesheet"/>

    <!-- Trends js -->
    <script src="/js/labeled.slider.js"></script>
    <script src="/js/charts.js"></script>
    <script src="/js/trends.js"></script>
</head>
<body>
<!-- Page Content -->
<section layout:fragment="content">
    <div class="container-fluid" style="height: inherit">
        <div class="row text-center" style="height: inherit">
            <div id="timeline" class="col-md-2" style="height: inherit">
                <label for="slider" title="Select year range">Timeline</label>
                <hr/>
                <div id="slider"></div>
                <button id="search-terms" class="ui-button ui-corner-all ui-widget">
                    Update Trends
                </button>
            </div>
            <div id="charts" class="col-md-9">
                <div id="chart-age-canvas"></div>
                <div id="chart-victims-canvas"></div>
            </div>
            <div class="col-md-offset-1"></div>
        </div>
    </div>
    <script th:inline="javascript" type="application/javascript">
        $(document).ready(function () {
            var maxDateRange =/*[[${maxDateRange}]]*/ {from: "2000-01-01", to: "2017-01-01"};
            maxDateRange.from = +maxDateRange.from.split("-")[0];
            maxDateRange.to = +maxDateRange.to.split("-")[0];
            setupFilters(maxDateRange);
        });
    </script>
</section>
</body>
</html>